<div class="container-left">
	<div class="container container-post editor" >

			<!-- CHAPTER -->
			<div class="editor-chapter">
				<span class="icon-chapter-not-selected"></span>
				<div class="editor-chapter-text">
					<h5 class="red" ng-model="post.chapter" medium-editor options='{"placeholder": "What chapter?", "disableToolbar": true, "forcePlainText": true, "disableReturn": true}'></h5>
				</div>
			</div>

			<!-- LOCATION -->
			<div class="editor-location">
				<span class="icon-location-not-selected"></span>
				<div class="editor-location-text">
					<h5 class="red caps" medium-editor ng-model="post.location" options='{"placeholder": {{test}}, "disableToolbar": true, "forcePlainText": true, "disableReturn": true}'></h5>
				</div>
			</div>

			<!-- TITLE -->
			<div class="editor-title">
					<h1 medium-editor ng-model="post.title" options='{"placeholder": "Amazing title goes here . . .", "disableToolbar": true, "forcePlainText": true, "disableReturn": true}'></h5>
			</div>

			<!-- TEXT -->
			<div class="editor-body" medium-editor ng-model="post.content" options='{"placeholder": "A long time ago in a galaxy far, far away . . .", "disableToolbar": false, "forcePlainText": true, "disableReturn": false}'>

<!-- 				<p class="text big grey" >Tell your story . . .</p>
 -->
			</div>

	</div>
</div>

<div class="editor-right light-grey">
	<h4 class="red caps">Editor</h3>

	<!-- Editor table -->
	<table class="editor-table">
		<!--Type -->
		<tr>
			<td>
				<span class="editor-tab">Type</span>
			</td>

			<td class="editor-option-type">
				<ul>
					<li class="editor-type-selected">Post</li>
					<li class="editor-type-not-selected">Gallery</li>
					<li class="editor-type-not-selected">Video</li>
				</ul>
			</td>
		</tr>

		<!--Styles -->
		<tr>
			<td>
				<span class="editor-tab">Style</span>
			</td>

			<td class="editor-option-style">
				<span class="icon-bold-not-selected"></span>
				<span class="icon-italic-not-selected"></span>
				<span class="icon-h1-not-selected"></span>
				<span class="icon-h2-not-selected"></span>
				<span class="icon-h3-not-selected"></span>
				<span class="icon-center-not-selected"></span>
				<span class="icon-quote-not-selected"></span>
				<span class="icon-link-not-selected"></span>
			</td>
		</tr>

		<!-- Format -->
		<tr>
			<td>
				<span class="editor-tab">Format</span>
			</td>

			<td class="editor-option-image-format">
				<span class="icon-image-full-not-selected"></span>
				<span class="icon-image-top-not-selected"></span>
				<span class="icon-image-full-inline-not-selected"></span>
				<span class="icon-image-inline-not-selected"></span>
				<span class="icon-image-left-not-selected"></span>
				<span class="icon-image-left-inline-not-selected"></span>
			</td>
		</tr>

		<!-- Extra -->
		<tr>
			<td>
				<span class="editor-tab">Extra</span>
			</td>
			<td></td>
		</tr>
			<!-- Video -->
		<tr class="editor-option-extra">
			<td>
				<p class="detail small">Video</p>
			</td>
			<td>
				<span class="icon-video"></span>
			</td>
		</tr>
			<!-- Title Gallery -->
		<tr class="editor-option-extra">
			<td>
				<p class="detail small">Tile Gallery</p>
			</td>
			<td>
				<span class="icon-gallery-tile"></span>
			</td>
		</tr>
			<!-- Video -->
		<tr class="editor-option-extra">
			<td>
				<p class="detail small">Slide Gallery</p>
			</td>
			<td>
				<span class="icon-gallery-slide"></span>
			</td>
		</tr>

	</table>

</div>
