<!--Home Screen-->
	<div class="container-left">

		<div class="container">

			<div ng-repeat="p in posts" class="post-card">
				<div class="post-card-header">
					<div class="profile">

							<div class="profile-image">
								<a href="#" ng-click="queryUser(p.user.id)">
									 <img ng-src="{{p.user.profileImage.url}}" alt="Description" />
								</a>
							</div>

							<div class="profile-user">
								<h5 class="red">
									<a href="#" ng-click="queryUser(p.user.id)">
										{{p.user.username}}
									</a>
								</h5>

								<p class="detail small">{{p.date}}</p>

							</div>

					</div>

					<div class="post-card-detail">
						<!-- Post-card location -->
						<div class="post-card-detail-location">
							<h5 class="red">
									<a href="#" ng-click="queryLocation(p.locatoin.id)">
											{{p.location}}
									</a>
							</h5>

							<span class="icon-location-selected"></span>

						</div>
						<!-- Post-card chapter -->
						<div class="post-card-detail-chapter">
							<h5 class="red ellipsis">
									<a href="#" ng-click="queryUserChapter(p.user.id, p.chapter.id)">
											{{p.chapter}}
									</a>
							</h5>

							<span class="icon-chapter-selected"></span>

						</div>
					</div>

				</div><!-- END POST CARD HEADER -->

				<!-- TODO: add a function getPostContent(post) to return the relevant post information -->
				<div class="post-card-feature-image"> <!-- back-img="{{post.feature-image.url}}" > -->
					<img ng-src="{{p.featureImage.url}}" alt="Description" class="repsonsive-image" />

				</div>

				<div class="post-card-title">
					<h2><a href="#" ng-click="goToPost(p.id)">{{p.title}}</a></h2>
				</div>

				<div class="post-card-text">
					<p class="text home"> <!-- ellipsis-paragraph"> -->
						{{p.excerpt}}
					</p>
				</div>

				<!-- Post-card footer-->
				<div class="post-card-footer">

					<div class="post-card-continue-reading">
						<p class="detail big red"><a ng-href="{{p.url}}">Continue Reading</a></p>
					</div>

					<div class="post-card-likes">

						<div class="post-card-likes-content">
							<span class="icon-like-small-selected"></span>
							<p class="detail small">Travlers like this </p>
							<h5 class="red thin">{{p.likes}}</h5>

						</div>

					</div>

				</div>

			</div><!--END POST CARD-->

		</div><!-- END CONTAINER -->

	</div><!-- END CONTAINER LEFT -->

	<!-- Right side bar -->
	<div class="flush-right light-grey">

		<div class="full-width">
			<img src="./assets/images/map-filler.jpg" alt="Quest logo" class="repsonsive-image" />
		</div>

		<!-- Featured tags -->
		<div class="container sidebar">
				<h5 class="red caps">FEATURED LOCATIONS</h5>

				<div class="tag-container">
						<button ng-repeat="location in locations" ng-click="queryLocatoin(location.id)" class="tag">
							<h5 class="thin">{{location.name}}</h5>
						</button>
				</div>

		</div>

		<!-- Featured tags -->
		<div class="container sidebar">
				<h5 class="red caps">POPULAR TAGS</h5>

				<div class="tag-container">
					<button ng-repeat="tag in tags" ng-click="queryTag(tag.id)" class="tag">
						<h5 class="thin">#{{tag.name}}</h5>
					</button>
				</div>

		</div>

		<!-- Featured tags -->
		<div class="container sidebar">
				<h5 class="red caps">Top Quest</h5>

		</div>

	</div>


<script>
	var test = {};
	// TODO: move to home controller
	$(document).ready(function() {
	    var s = $(".flush-right");
	    var pos = s.position();

			var height = s.height();

			// control the flow of
	    $(window).scroll(function() {
					// calculate the number of pixels moved past the height of the window
	        var windowpos = $(window).scrollTop();

	        if (height <= $(window).height() && $(window).scrollTop() >= 50){
						s.addClass("stick top");
					}
					else if (windowpos >= height) {
	            s.addClass("stick bottom");
	        } else {
	            s.removeClass("stick");
	        }
	    });
	});
</script>
