<h1>H1 - Big Title</h1>

<h1 class="edit">H1 - in editor mode</h1>
<h1 class="edit grey">H1 - in editor mode</h1>

<h2>H2 - Middle Sub header</h2>

<h3>H3 - Thin third headder</h3>

<h4>H4 - larger thick detail</h4>
<h4 class="red">H4 - lrager thick detail red</h4>

<h5>H5 - Small thicker text used for username, locations, chapter names</h5>
<h5 class="italics">H5 - Small thicker text used for username, locations, chapter names</h5>
<h5 class="red">H5 - Small thicker text used for username, locations, chapter names</h5>
<h5 class="white">H5 - Small thicker text used for username, locations, chapter names</h5>
<h5 class="grey">H5 - Small thicker text used for username, locations, chapter names</h5>
<h5 class="red caps">H5 - Small thicker text used for username, locations, chapter names</h5>
<h5 class="white caps">H5 - Small thicker text used for username, locations, chapter names</h5>
<h5 class="grey caps">H5 - Small thicker text used for username, locations, chapter names</h5>

<p class="detail small">detail.small: Open sans used for smaller date and like detail </p>
<p class="detail big">detail.big: Used for links, continue reading, and larger date </p>
<p class="detail big red">detail.big: Used for links, continue reading, and larger date </p>
<p class="detail big grey">detail.big: Used for links, continue reading, and larger date </p>
<p class="detail big caps">detail.big: Used for links, continue reading, and larger date NEXT QUEST </p>

<button class="tag">Tag</button>

<p class="editor-tab">FORMAT</p>

<p class="text article">Paragraph Text</p>
<p class="text article editor">Paragraph Text in editor before edit</p>

<p class="text home">Text displayed on non post pages</p>

<p class="editor-type">Post</p>
<p class="editor-type grey">Video</p>
