@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

h1, h2, h3, h4, h5, .detail, .tag, .editor-tab {
  font-family: "Open Sans", sans-serif;
  color: #3c3c3c;
}
h1.red, h2.red, h3.red, h4.red, h5.red, .detail.red, .tag.red, .editor-tab.red {
  color: #ff5252;
}
h1.grey, h2.grey, h3.grey, h4.grey, h5.grey, .detail.grey, .tag.grey, .editor-tab.grey {
  color: #bcbcbc;
}
h1.white, h2.white, h3.white, h4.white, h5.white, .detail.white, .tag.white, .editor-tab.white {
  color: white;
}
h1.caps, h2.caps, h3.caps, h4.caps, h5.caps, .detail.caps, .tag.caps, .editor-tab.caps {
  text-transform: uppercase;
}

.text {
  font-family: "Lora", serif;
}
.text.red {
  color: #ff5252;
}
.text.grey {
  color: #bcbcbc;
}
.text.white {
  color: white;
}
.text.caps {
  text-transform: uppercase;
}
.text.italics {
  font-style: italic;
}
.text.underline {
  font-style: underline;
}
.text.bold {
  font-weight: bold;
}

html {
  font-size: 125%;
  line-height: 1.6em;
}

html {
  line-height: 4.8rem;
}

h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}
h1.edit {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 300;
}

h4 {
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-weight: 700;
}

h5 {
  font-size: 0.6rem;
  line-height: 0.8rem;
  font-weight: 700;
}

.detail {
  font-weight: 300;
}
.detail.small {
  font-size: 0.6rem;
  line-height: 0.8rem;
}
.detail.big {
  font-size: 0.7rem;
  line-height: 1.6rem;
}

.tag {
  font-size: 0.6rem;
  line-height: 0.8rem;
}

.editor-tab {
  font-size: 0.5rem;
  line-height: 0.8rem;
}

.text.article {
  font-size: 1rem;
  line-height: 1.6rem;
}
.text.home {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

.navbar {
  background: #ff5252;
  height: 50px;
}
